[mysqld]
# General configurations
port=3306
basedir="C:/Program Files/MySQL/MySQL Server 8.0"
datadir="C:/ProgramData/MySQL/MySQL Server 8.0/Data"
max_connections=151
table_open_cache=2000
tmp_table_size=16M
thread_cache_size=10
max_allowed_packet=64M

# Bind to all IP addresses
bind-address=0.0.0.0

# Character set
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# InnoDB settings
innodb_buffer_pool_size=128M
innodb_log_file_size=48M
innodb_file_per_table=1
innodb_flush_method=O_DIRECT

[client]
port=3306
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4 